html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #313233d8;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: hsla(78, 9%, 78%, 0.452);
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(0, 0, 0);
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #f2f3f3;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}